.event-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Espacio entre los eventos */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.event-item {
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  height: 80px; /* Altura fija para el diseño */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.event-item:hover {
  background-color: rgba(240, 240, 240, 0.3);
}

.event-description {
  display: none; /* Ocultar por defecto */
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  margin-top: 5px;
  background-color: #aeaeae;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  z-index: 10;
  max-width: 100%; /* Asegura que el cuadro de descripción no se desborde */
  color: rgba(255, 255, 224, 0.8); /* Cambia el color del texto a un tono claro */
}

.event-item:hover .event-description {
  display: block; /* Mostrar descripción al pasar el mouse */
}

/* Contenedor de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  margin-bottom: 20px;
}

.search-input {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.search-icon {
  cursor: pointer;
  font-size: 18px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .event-list {
    grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
  }

  .search-container {
    justify-content: center; /* Centra el input de búsqueda en dispositivos móviles */
  }
}
