.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espacio entre los eventos */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .event-item {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 80px; /* Altura fija para el diseño */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .event-item:hover {
    background-color: rgba(240, 240, 240, 0.3); /* Fondo más transparente al pasar el ratón */
  }
  
  .event-description {
    display: none; /* Ocultar por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    margin-top: 5px;
    background-color: #aeaeae; /* Fondo gris para la descripción */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-width: 100%; /* Asegura que el cuadro de descripción no se desborde */
    color: rgba(255, 255, 224, 1); /* Cambia el color del texto a rojo */
  }
  
  .event-item:hover .event-description {
    display: block; /* Mostrar descripción al pasar el ratón */
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .event-grid {
      grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
    }
  }
  